.row-box {
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 10px 0;
    backdrop-filter: blur(5px) contrast(1.4);
    background-color: white;
    color: black;
    box-shadow: 5px 5px 0 0 #3a86ff;
    transition: 0.2s;
    
    div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.row-box:hover {
    box-shadow: 7px 7px 0 0 #3a86ff;
    transition: 0.2s;
    background-color: #eeeeee;
    cursor: pointer;
}