.nav-item {
    cursor: pointer;
    min-width: 20%;
    text-align: center;
}

.card {
    box-shadow: 10px 10px 0 0 #3a86ff;
}

table {
    text-align: center;
}

tbody tr:nth-child(odd) {
    background-color: #f8f8f8;
}

th, tr {
    height: 50px;
}

th {
    color: gray;
    font-size: small;
    font-weight: 500;
}

.tournament-nav-link {
    color: white;
    border: 1px solid #3a86ff;
    margin-right: 10px;
    transition: .2s;
}

.tournament-nav-link:hover {
    box-shadow: 5px 5px 0 0 #3a86ff;
    transition: .2s;
    color: white;
}

.team {
    line-height: 80%;
}

.winner {
    h4, p {
        font-weight: 900;
    }
}

.result {
    background-color: #3a0ca3;
    color: white;
    border-radius: 8px;
    // font-size: 2vw;
    font-weight: 900;
}

.gold {
    background-color: #e4c970;
}

.bronze {
    background-color: #ddb8a5;
}

.green-row {
    background-color: #92ffbf !important;
}

.knockout-tab {
    input {
        padding: 10px 0 !important;
        width: 40px;
        font-size: 20px;
        margin: 0;
        transition: .2s;
    }
}

.saved-match {
    input, input[type="text"]:focus {
        transition: .2s;
        border: 1px solid #92ffbf;
        outline: 3px solid #92ffbf;
        background-color: #92ffbf70;
    }
}